.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#search-input {
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    font-size: 1.1em;
    outline: none;
}

#search-button {
    padding: 15px 30px;
    border: none;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #c0392b;
}
